* {
    margin: 0;
    padding: 0;
}

#background-img {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#frame {
    position: absolute;
    height: 440px;
    width: 700px;
    background-color: rgba(0,0,0,0.6);
    margin: 0px 282px 25px 282px;
}

#one, #two, #three {
    position: absolute;
    height: 150px;
    width: 122px;
    border: 3px solid white;
    border-radius: 15%;
    margin-top: 180px;
}

#one {
    margin-left: 63px;
}

#two {
    margin-left: 286px;
}

#three {
    margin-left: 509px;
}

#michael {
    position: fixed;
    height: 250px;
    margin-top: 82px;
    margin-left: 60px;
    z-index:1;
}

#trevor {
    position: fixed;
    height: 250px;
    margin-top: 82px;
    margin-left: 288px;
    z-index: 1;
}

#franklin {
    position: fixed;
    height: 260px;
    margin-top: 72px;
    margin-left: 490px;
    z-index: 1;
}